.itemWrapper {
  position: relative;
  translate: 0.2s ease all;

  &:hover {
    transform: scale(2);
    z-index: 11;

    .productImage {
      background-color: white;
    }
  }

  .productImage {
    position: absolute;
    left: -10px;

    img {
      max-width: 30px;
      max-height: 40px;
    }
  }

  .productStats {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    bottom: -90px;
    left: -50px;
    font-size: 15px;
    width: 100px;

    .price {
      margin: 0;
      background: white;
      padding: 1px 3px;
      border-radius: 3px;
    }
  }
}


@for $i from 0 through 4 {
  &.order-#{$i} {
    bottom: calc(-15px + #{$i * 8px});
    transform: scale(calc(2 - #{$i * 0.3}));
    z-index: calc(10 - #{$i});
  }
}